*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-login .login-page{
    height: 330px;
    width: 330px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid teal;
}
.main-login .login-page .login-inputs{
    height: 30px;
    padding: 5px;
}
.main-login .login-page .login-button{
    padding: 8px 16px;
    text-align: center;
    background: teal;
    color: white;
    font-size: 18px;
    border: none;
}

#logintext{
    font-size: larger;
    color: red !important;
}